<p-panel class="p-fluid">
  <ng-template pTemplate="header">
    <h2>Estadísticas de Asistencia por Mes</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <!-- Gráfico de Líneas por Meses -->
    <p-chart type="line" [data]="data" [options]="options" width="1000px"></p-chart>

    <!-- Resumen de estadísticas -->
    <div class="stat-cards">
      <div class="stat-card">
        <p>Total Asistencias: {{ totalAttendances }}</p>
      </div>
      <div class="stat-card">
        <p>Asistencias a Tiempo: {{ onTimeAttendances }}</p>
      </div>
      <div class="stat-card">
        <p>Asistencias Tardías: {{ lateAttendances }}</p>
      </div>
    </div>
  </ng-template>
</p-panel>
